
@import "common/variables";
@import "common/mixins";

html,body{
	padding: 0;
	margin:0;
	font-size:14px;
	color: #515B66!important;
	font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	height: 100%;
	//background:url("./../assets/bg-ide.png") fixed no-repeat ;
	background-size: cover;
}