.#{$bc}-module{
	display: block;
    height: 100%;   
    max-width: 1200px;
    margin: auto;
	
	&-wrapper{

	}

	&__title{
		position: relative;	;
		font-weight: 100;
		color: #444;
		letter-spacing: 4px;
		margin: 10px 0;

		&::first-letter{			
			//border-bottom: solid 2px #fff;		
		}		
	}

	&__desc{
		padding-bottom: 20px;
    	border-bottom: dashed 1px #abdbf3;
		position: relative;
		font-weight: 100;
		color: #444;
		letter-spacing: 2px;
		margin: 10px 0;
		font-size: 16px;
	}

	&__content{			
		padding-top: 25px;
	}
}
