.#{$bc}-module{
	display: block;
    height: 100%;   
    width: 1200px;
    margin: auto;
	
	&-wrapper{

	}

	&__title{
		position: relative;
		text-align: center;
		font-size: 40px;
		text-transform: uppercase;
		font-weight: 100;
		color: #444;
		letter-spacing: 8px;
		margin: 30px 0 0 0;

		&::first-letter{			
			border-bottom: solid 2px #fff;		
		}		
	}

	&__content{			
		padding-top: 25px;
	}
}
