/*
 *@_variables : all variables 
 *
 */

 $bc:"bc";


 $pri-color: #515B66;//#2947AD;
 $pri-color--hover-lt:#5c6874;

  $pri-color--hover-dk:#464e58;

 $sec-color: #007000;//#2947AD;
 $sec-color--hover:#006500;

 $font-gray:#8d8d8d;


//Transition Speed
 $tr-slow:.2s;
 $tr-medium:.5s;
 $tr-fast:.9s;

  