/*
* @main.scss - main sass file
*
*/
/*
 *@_variables : all variables 
 *
 */
html, body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #515B66 !important;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  background-size: cover; }

.m-a-0 {
  margin: 0 !important; }

.m-a-1 {
  margin: 0.3125rem !important; }

.m-a-2 {
  margin: 0.625rem !important; }

.m-a-3 {
  margin: 0.9375rem !important; }

.m-a-4 {
  margin: 1.25rem !important; }

.m-a-5 {
  margin: 1.5625rem !important; }

.m-a-6 {
  margin: 1.875rem !important; }

.m-x-0 {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.m-x-1 {
  margin-left: 0.3125rem !important;
  margin-right: 0.3125rem !important; }

.m-x-2 {
  margin-left: 0.625rem !important;
  margin-right: 0.625rem !important; }

.m-x-3 {
  margin-left: 0.9375rem !important;
  margin-right: 0.9375rem !important; }

.m-x-4 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important; }

.m-x-5 {
  margin-left: 1.5625rem !important;
  margin-right: 1.5625rem !important; }

.m-x-6 {
  margin-left: 1.875rem !important;
  margin-right: 1.875rem !important; }

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-y-1 {
  margin-top: 0.3125rem !important;
  margin-bottom: 0.3125rem !important; }

.m-y-2 {
  margin-top: 0.625rem !important;
  margin-bottom: 0.625rem !important; }

.m-y-3 {
  margin-top: 0.9375rem !important;
  margin-bottom: 0.9375rem !important; }

.m-y-4 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important; }

.m-y-5 {
  margin-top: 1.5625rem !important;
  margin-bottom: 1.5625rem !important; }

.m-y-6 {
  margin-top: 1.875rem !important;
  margin-bottom: 1.875rem !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-t-1 {
  margin-top: 0.3125rem !important; }

.m-t-2 {
  margin-top: 0.625rem !important; }

.m-t-3 {
  margin-top: 0.9375rem !important; }

.m-t-4 {
  margin-top: 1.25rem !important; }

.m-t-5 {
  margin-top: 1.5625rem !important; }

.m-t-6 {
  margin-top: 1.875rem !important; }

.m-t-7 {
  margin-top: 2.1875rem !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-b-1 {
  margin-bottom: 0.3125rem !important; }

.m-b-2 {
  margin-bottom: 0.625rem !important; }

.m-b-3 {
  margin-bottom: 0.9375rem !important; }

.m-b-4 {
  margin-bottom: 1.25rem !important; }

.m-b-5 {
  margin-bottom: 1.5625rem !important; }

.m-b-6 {
  margin-bottom: 1.875rem !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-l-1 {
  margin-left: 0.3125rem !important; }

.m-l-2 {
  margin-left: 0.625rem !important; }

.m-l-3 {
  margin-left: 0.9375rem !important; }

.m-l-4 {
  margin-left: 1.25rem !important; }

.m-l-5 {
  margin-left: 1.5625rem !important; }

.m-l-6 {
  margin-left: 1.875rem !important; }

.m-l-7 {
  margin-left: 7px !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-r-1 {
  margin-right: 0.3125rem !important; }

.m-r-2 {
  margin-right: 0.625rem !important; }

.m-r-3 {
  margin-right: 0.9375rem !important; }

.m-r-4 {
  margin-right: 1.25rem !important; }

.m-r-5 {
  margin-right: 1.5625rem !important; }

.m-r-6 {
  margin-right: 1.875rem !important; }

.m-p-0 {
  margin: 0;
  padding: 0; }

.p-a-0 {
  padding: 0 !important; }

.p-a-1 {
  padding: 0.3125rem !important; }

.p-a-2 {
  padding: 0.625rem !important; }

.p-a-3 {
  padding: 0.9375rem !important; }

.p-a-4 {
  padding: 1.25rem !important; }

.p-a-5 {
  padding: 1.5625rem !important; }

.p-a-6 {
  padding: 1.875rem !important; }

.p-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.p-x-1 {
  padding-left: 0.3125rem !important;
  padding-right: 0.3125rem !important; }

.p-x-2 {
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important; }

.p-x-3 {
  padding-left: 0.9375rem !important;
  padding-right: 0.9375rem !important; }

.p-x-4 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important; }

.p-x-5 {
  padding-left: 1.5625rem !important;
  padding-right: 1.5625rem !important; }

.p-x-6 {
  padding-left: 1.875rem !important;
  padding-right: 1.875rem !important; }

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-y-1 {
  padding-top: 0.3125rem !important;
  padding-bottom: 0.3125rem !important; }

.p-y-2 {
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem !important; }

.p-y-3 {
  padding-top: 0.9375rem !important;
  padding-bottom: 0.9375rem !important; }

.p-y-4 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important; }

.p-y-5 {
  padding-top: 1.5625rem !important;
  padding-bottom: 1.5625rem !important; }

.p-y-6 {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important; }

.p-t-0 {
  padding-top: 0 !important; }

.p-t-1 {
  padding-top: 0.3125rem !important; }

.p-t-2 {
  padding-top: 0.625rem !important; }

.p-t-3 {
  padding-top: 0.9375rem !important; }

.p-t-4 {
  padding-top: 1.25rem !important; }

.p-t-5 {
  padding-top: 1.5625rem !important; }

.p-t-6 {
  padding-top: 1.875rem !important; }

.p-b-0 {
  padding-bottom: 0 !important; }

.p-b-1 {
  padding-bottom: 0.3125rem !important; }

.p-b-2 {
  padding-bottom: 0.625rem !important; }

.p-b-3 {
  padding-bottom: 0.9375rem !important; }

.p-b-4 {
  padding-bottom: 1.25rem !important; }

.p-b-5 {
  padding-bottom: 1.5625rem !important; }

.p-b-6 {
  padding-bottom: 1.875rem !important; }

.p-l-0 {
  padding-left: 0 !important; }

.p-l-1 {
  padding-left: 0.3125rem !important; }

.p-l-2 {
  padding-left: 0.625rem !important; }

.p-l-3 {
  padding-left: 0.9375rem !important; }

.p-l-4 {
  padding-left: 1.25rem !important; }

.p-l-5 {
  padding-left: 1.5625rem !important; }

.p-l-6 {
  padding-left: 1.875rem !important; }

.p-r-0 {
  padding-right: 0 !important; }

.p-r-1 {
  padding-right: 0.3125rem !important; }

.p-r-2 {
  padding-right: 0.625rem !important; }

.p-r-3 {
  padding-right: 0.9375rem !important; }

.p-r-4 {
  padding-right: 1.25rem !important; }

.p-r-5 {
  padding-right: 1.5625rem !important; }

.p-r-6 {
  padding-right: 1.875rem !important; }

.va-sub {
  vertical-align: sub; }

.va-middle {
  vertical-align: middle !important; }

.va-bottom {
  vertical-align: bottom !important; }

.va-top {
  vertical-align: top !important; }

.d-block {
  display: block !important; }

.d-inline-block {
  display: inline-block !important; }

.d-inline {
  display: inline !important; }

.z-in-1 {
  z-index: 1; }

.z-in-2 {
  z-index: 2; }

.z-in-3 {
  z-index: 3; }

.fs-12 {
  font-size: 0.75rem !important; }

.fs-14 {
  font-size: 0.875rem !important; }

.fs-16 {
  font-size: 1.0rem !important; }

.fw-n {
  font-weight: normal !important; }

.fw-bld {
  font-weight: bold !important; }

.ra-45 {
  transform: rotate(45deg); }

.ra-90 {
  transform: rotate(90deg); }

.b-a-0 {
  border: none !important; }

.b-r-0 {
  border-right: solid 0px #fff !important; }

.b-r-1 {
  border-right: solid 1px #fff !important; }

.b-r-2 {
  border-right: solid 2px #fff !important; }

.b-l-0 {
  border-left: solid 0px #fff !important; }

.b-l-1 {
  border-left: solid 1px #fff !important; }

.b-l-2 {
  border-left: solid 2px #fff !important; }

.b-t-0 {
  border-top: solid 0px #fff !important; }

.b-t-1 {
  border-top: solid 1px #fff !important; }

.b-t-2 {
  border-top: solid 2px #fff !important; }

.b-b-0 {
  border-bottom: solid 0px #fff !important; }

.b-b-1 {
  border-bottom: solid 1px #fff !important; }

.b-b-2 {
  border-bottom: solid 2px #fff !important; }

.p-static {
  position: static !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.text-lowercase {
  text-transform: lowercase !important; }

.text-center {
  text-align: center !important; }

.selection-off * {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none; }

#list, .bc-header__nav-social, .bc-profile__social, .bc-profile__activities ul, .bc-profile__nav ul, .bc-skill__img, .bc-contact__info {
  list-style: none;
  padding: 0;
  margin: 0; }

#ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

#after-clear, .bc-profile__social:after, .bc-profile__activities ul:after, .bc-activity-wrapper:after {
  content: "";
  display: block;
  clear: both; }

.badge {
  font-weight: 400;
  color: #777;
  background-color: #ededed;
  border: solid 1px #ccc; }
  .badge--success {
    border: solid 1px #94cd7c;
    background-color: #dff0d8;
    color: #3c763d; }
  .badge--failure {
    border: solid 1px #dca7a7;
    background-color: #f2dede;
    color: #a94442; }

.f-height {
  height: 100%; }

.bc-main {
  height: 100%; }

.bc-content {
  height: calc(100% - 100px); }

@-webkit-keyframes bcContent {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes bcContent {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes bcContent {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes bcContent {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.bc-module {
  display: block;
  height: 100%;
  width: 1200px;
  margin: auto; }
  .bc-module__title {
    position: relative;
    font-weight: 100;
    color: #444;
    letter-spacing: 4px;
    margin: 10px 0; }
  .bc-module__desc {
    padding-bottom: 20px;
    border-bottom: dashed 1px #abdbf3; }
  .bc-module__content {
    padding-top: 25px; }

.bc-cover {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  transition: all 0.01ms;
  z-index: 1000; }
  .bc-cover__top, .bc-cover__bottom {
    position: absolute;
    height: 50%;
    width: 100%;
    transition: all 0.01ms; }
  .bc-cover__top {
    top: 0;
    background: #66fcf1; }
  .bc-cover__bottom {
    top: 50%;
    background: #039b90; }
  .bc-cover__title {
    position: absolute;
    bottom: -31px;
    font-size: 45px;
    font-weight: 100;
    text-transform: uppercase;
    width: 400px;
    border: solid 3px #fff;
    text-align: center;
    z-index: 100;
    left: 35%; }
  .bc-cover:hover1 .bc-cover__top {
    top: -100%; }
  .bc-cover:hover1 .bc-cover__bottom {
    top: 150%; }

.bc-slide {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 40px 0; }
  .bc-slide--blue {
    background-color: #7ec8ed;
    z-index: 10; }
    .bc-slide--blue .bc-slide__title {
      color: #146892; }
  .bc-slide--red {
    background-color: #f47264;
    z-index: 20; }
    .bc-slide--red .bc-slide__title {
      color: #af1c0c; }
  .bc-slide--skills {
    background: url("./../assets/bg/bg-11.jpg") fixed no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 30; }
    .bc-slide--skills .bc-slide__title {
      color: #916d05; }
  .bc-slide--green {
    background-color: #84cbc5;
    z-index: 40; }
    .bc-slide--green .bc-slide__title {
      color: #29625d; }
  .bc-slide--d-blue {
    background-color: #1d69a7;
    z-index: 50; }
  .bc-slide--violet {
    background-color: #878ad1;
    z-index: 60; }
  .bc-slide-d-violet {
    background-color: #99597b;
    z-index: 70; }
  .bc-slide--orange {
    background-color: #f59364;
    z-index: 80; }
  .bc-slide--contact {
    background: url("./../assets/bg/bg-6.jpg") fixed no-repeat;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 90; }
    .bc-slide--contact .bc-slide__title {
      color: #444; }
  .bc-slide__wrapper {
    position: relative;
    height: 100%; }
  .bc-slide__title {
    position: relative;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;
    color: #444;
    letter-spacing: 8px; }
    .bc-slide__title::first-letter {
      border-bottom: solid 2px #fff; }

.bc-header {
  position: relative;
  z-index: 3;
  height: 100%; }
  .bc-header__title {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0;
    letter-spacing: 2px; }
    .bc-header__titles {
      width: 400px;
      margin: auto;
      text-align: center; }
  .bc-header__stitle {
    color: #ccc;
    font-size: 12px;
    font-weight: 100;
    margin: 0; }
  .bc-header__nav {
    display: inline-block; }
    .bc-header__nav-social li {
      float: left;
      float: left;
      margin-left: 10px;
      cursor: pointer;
      opacity: .8; }
      .bc-header__nav-social li:hover {
        opacity: 1; }
  .bc-header__left, .bc-header__right {
    height: 100%;
    display: inline-block;
    width: 50%;
    float: left; }
  .bc-header__left {
    background-color: rgba(0, 0, 0, 0.6);
    border-left: solid 45px #000; }
  .bc-header__right {
    background: rgba(255, 255, 255, 0.8); }

.bc-hamburger {
  display: inline-block;
  position: fixed;
  top: 20px;
  left: 20px; }
  .bc-hamburger__icon {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: 0;
    vertical-align: 20px;
    margin-right: 25px; }
    .bc-hamburger__icon .line {
      display: inline-block;
      background-color: #fff;
      height: 2px;
      width: 100%;
      margin-bottom: 6px;
      transition: all .5s; }
    .bc-hamburger__icon--close .line {
      display: none;
      position: absolute;
      top: 16px; }
      .bc-hamburger__icon--close .line:first-child {
        display: inline-block;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .bc-hamburger__icon--close .line:last-child {
        display: inline-block;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  .bc-hamburger__menu {
    position: absolute;
    top: -1000px;
    transition: all 0.5s; }
    .bc-hamburger__menu.active {
      top: 70px; }

.bc-tile {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 170px;
  float: left;
  border-top: solid 1px #7ec8ed;
  border-right: solid 1px #7ec8ed;
  cursor: pointer;
  text-decoration: none;
  padding: 30px; }
  .bc-tile__img {
    display: inline-block;
    height: 80px;
    width: 100%; }
  .bc-tile__title {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 100;
    font-size: 20px;
    margin-top: 45px; }
    .bc-tile__title a {
      color: #fff;
      text-decoration: none;
      transition: all 0.2s; }
      .bc-tile__title a:hover, .bc-tile__title a:visited, .bc-tile__title a:active {
        color: #fff;
        text-decoration: none; }
  .bc-tile--blue {
    background-color: #146892; }
  .bc-tile--blue-lt {
    background-color: #1674a3; }
  .bc-tile--blue-dk {
    background-color: #125c81; }
  .bc-tile__nav {
    position: absolute;
    right: 0;
    top: 35%;
    margin: auto;
    right: 30px;
    opacity: 0;
    transition: all 1s; }
    .bc-tile__nav-icon {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      box-sizing: border-box;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      margin: 10px;
      width: 40px;
      height: 40px;
      border-width: 1px 1px 0 0;
      border-style: solid; }
  .bc-tile:hover .bc-tile__nav {
    opacity: 1;
    right: 10px; }
  .bc-tile:hover .bc-tile__title a {
    font-weight: 600;
    letter-spacing: 2px; }

.bc-form-control {
  border-radius: 0;
  padding: 12px !important;
  border: 1px solid transparent !important;
  box-shadow: none;
  font-size: 16px;
  height: auto;
  transition: all 0.5s;
  background: #fdf2d0; }
  .bc-form-control:focus {
    background-color: #f5f5f5 !important; }
  .bc-form-control.error {
    border: solid 1px #b30000 !important; }
    .bc-form-control.error + .error {
      position: absolute;
      font-size: 10px;
      color: #b30000; }

.bc-btn {
  padding: 12px 30px;
  border-radius: 0;
  background: transparent;
  border: solid 2px #444;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .8s; }
  .bc-btn:hover, .bc-btn:focus, .bc-btn:active {
    color: #fff;
    background-color: #444; }
  .bc-btn--yellow {
    border: solid 2px #916d05;
    color: #916d05; }
    .bc-btn--yellow:hover, .bc-btn--yellow:focus, .bc-btn--yellow:active {
      color: #fff;
      background-color: #916d05;
      border: solid 2px #916d05; }

.bc-profile {
  height: 100%;
  overflow: auto; }
  .bc-profile__landing {
    position: relative;
    height: 100%;
    background: url("./../assets/bg/bg-3.jpg") fixed no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-animation-name: MOVE-PROFILE-ENITY;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 1s;
    animation-name: ZOOM-IN-BG-COVER;
    animation-timing-function: ease;
    animation-duration: 2s;
    background-color: #3d3d3d; }
  .bc-profile__banner {
    padding: 40px;
    height: 100%;
    margin: 0 10px 10px 10px;
    background: rgba(61, 61, 61, 0.9);
    -webkit-animation-name: EASE-BANNER-BG;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 1s;
    animation-name: EASE-BANNER-BG;
    animation-timing-function: ease;
    animation-duration: 2s; }
  .bc-profile__info {
    text-align: center;
    margin: 20px 0; }
  .bc-profile__name {
    text-transform: uppercase;
    color: #ccc;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 3px; }
    .bc-profile__name::first-letter {
      border-bottom: solid 1px #ccc; }
  .bc-profile__title {
    text-transform: uppercase;
    color: #ccc;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 3px; }
  .bc-profile__social {
    width: 180px;
    margin: auto;
    margin-top: 60px; }
    .bc-profile__social-item {
      float: left;
      margin-right: 20px; }
      .bc-profile__social-item:last-child {
        margin-right: 0; }
      .bc-profile__social-item a {
        display: block;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        opacity: 0.6;
        transition: all 0.5s; }
        .bc-profile__social-item a.facebook {
          background-image: url("../assets/icons/Facebook.svg"); }
        .bc-profile__social-item a.linkedin {
          background-image: url("../assets/icons/Linkedin.svg"); }
        .bc-profile__social-item a.twitter {
          background-image: url("../assets/icons/Twitter.svg"); }
        .bc-profile__social-item a.github {
          background-image: url("../assets/icons/Github.svg"); }
        .bc-profile__social-item a.mail {
          background-image: url("../assets/icons/Mail.svg"); }
        .bc-profile__social-item a:hover {
          opacity: 1; }
  .bc-profile__pic {
    width: 200px;
    height: 200px;
    margin: auto; }
    .bc-profile__pic img {
      width: 100%;
      height: 100%;
      border-radius: 200px; }
  .bc-profile__activity {
    position: relative;
    float: left;
    width: 120px;
    height: 120px;
    margin: 15px;
    -webkit-animation-name: MOVE-PROFILE-ENITY;
    -webkit-animation-timing-function: ease;
    animation-name: MOVE-PROFILE-ENITY;
    animation-timing-function: ease;
    border: solid 2px #f47264;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s; }
    .bc-profile__activity:nth-child(1), .bc-profile__activity:nth-child(5) {
      -webkit-animation-duration: 1s;
      animation-duration: 1s; }
    .bc-profile__activity:nth-child(2), .bc-profile__activity:nth-child(4) {
      -webkit-animation-duration: 1.6s;
      animation-duration: 1.6s; }
    .bc-profile__activity:nth-child(3) {
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s; }
    .bc-profile__activity-logo {
      width: 50px;
      height: 50px;
      font-size: 40px !important;
      margin-top: 15px;
      color: #f47264; }
    .bc-profile__activity-title {
      position: absolute;
      display: block;
      text-align: center;
      width: 100%;
      color: #f47264;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 100;
      display: block;
      text-align: center;
      bottom: 15px; }
    .bc-profile__activity:hover {
      background-color: #f47264; }
      .bc-profile__activity:hover .bc-profile__activity-title {
        color: #fff !important; }
      .bc-profile__activity:hover .bc-profile__activity-logo {
        color: #fff !important; }
  .bc-profile__activities {
    height: 150px;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0; }
    .bc-profile__activities ul {
      width: 750px;
      margin: auto; }
  .bc-profile__nav {
    position: fixed;
    left: 30px;
    top: 100px;
    z-index: 1000; }
    .bc-profile__nav ul li {
      margin-bottom: 10px; }
      .bc-profile__nav ul li .bc-profile__nav-item {
        height: 6px;
        width: 20px;
        display: inline-block;
        background: #fff;
        border: solid 1px #fff;
        position: relative; }
        .bc-profile__nav ul li .bc-profile__nav-item .bc-profile__nav-title {
          position: absolute;
          top: -6px;
          width: 140px;
          color: #fff;
          left: 36px;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: 100;
          letter-spacing: 2px;
          transition: all 0.5s;
          color: transparent; }
        .bc-profile__nav ul li .bc-profile__nav-item.active {
          background: transparent; }
      .bc-profile__nav ul li:hover .bc-profile__nav-title {
        display: block;
        color: #fff;
        left: 26px; }
  .bc-profile__scroller {
    position: fixed;
    width: 36px;
    height: 44px;
    bottom: 20px;
    right: 20px;
    background: url(../assets/icons/mouse-down.svg) no-repeat 100% 100%;
    opacity: 1;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-animation-name: SCROLLER;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;
    animation-name: SCROLLER;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    z-index: 1000; }
    .bc-profile__scroller:hover {
      opacity: 0.7;
      bottom: 15px; }

@-webkit-keyframes MOVE-PROFILE-ENITY {
  from {
    -webkit-transform: translatey(40%); }
  to {
    -webkit-transform: translatey(0%); } }

@-webkit-keyframes EASE-BANNER-BG {
  from {
    background: #3d3d3d; }
  to {
    background: rgba(61, 61, 61, 0.8); } }

@-webkit-keyframes SCROLLER {
  0% {
    -webkit-transform: translatex(200%); }
  50% {
    -webkit-transform: translatex(200%); }
  100% {
    -webkit-transform: translatex(0%); } }

.bc-activity {
  position: relative;
  display: inline-block;
  /* width: 120px; */
  text-align: center;
  margin: 0px 30px;
  padding: 15px;
  transition: all 0.5s;
  overflow: hidden;
  cursor: pointer; }
  .bc-activity:hover {
    background-color: rgba(0, 0, 0, 0.2); }
    .bc-activity:hover .bc-activity__logo {
      color: #66fcf1; }
    .bc-activity:hover .bc-activity__desc {
      bottom: 0px; }
  .bc-activity-wrapper {
    padding: 10px 40px; }
  .bc-activity__logo {
    color: #fff;
    font-size: 90px;
    transition: all 0.5s; }
  .bc-activity__desc {
    position: absolute;
    color: #fff;
    /* border: solid 1px red; */
    width: 100%;
    left: 0;
    bottom: -40px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 0;
    transition: all 0.2s; }

.bc-block {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  transition: all 0.2s; }
  .bc-block-wrapper {
    padding: 10px 40px; }
    .bc-block-wrapper:after {
      content: "";
      display: block;
      clear: both; }
  .bc-block__desc {
    padding: 15px 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff; }
  .bc-block__content img {
    width: 100%;
    height: 100%; }

.bc-carousel {
  display: block;
  padding: 10px 40px; }
  .bc-carousel .owl-item .item {
    border: solid 1px #464e58;
    height: 200px; }
  .bc-carousel .bc-carousel__nav-left, .bc-carousel .bc-carousel__nav-right {
    position: absolute;
    font-size: 50px;
    top: 40%;
    cursor: pointer;
    color: #515B66;
    transition: all 0.5s; }
    .bc-carousel .bc-carousel__nav-left:hover, .bc-carousel .bc-carousel__nav-right:hover {
      color: #464e58; }
  .bc-carousel .bc-carousel__nav-left {
    left: 0; }
  .bc-carousel .bc-carousel__nav-right {
    right: 0; }

.bc-skill {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 200px;
  float: left;
  overflow: hidden;
  border: solid 1px #fff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.35s ease-in-out; }
  .bc-skill__title {
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    text-align: center;
    padding: 70px 0px 20px 0; }
  .bc-skill__desc {
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 20px;
    top: 65px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%); }
  .bc-skill:hover {
    background: #444; }
    .bc-skill:hover .bc-skill__desc {
      opacity: .8;
      visibility: visible;
      transform: translateY(0%); }
  .bc-skill__img {
    display: block;
    padding: 0 15px; }
    .bc-skill__img-item {
      width: 60px;
      height: 60px;
      float: left;
      margin: 0 5px 5px 5px; }
      .bc-skill__img-item img {
        width: 100%; }

.bc-timeline {
  position: relative;
  margin-top: 60px; }
  .bc-timeline:before {
    content: "";
    position: absolute;
    width: 100%;
    border-top: solid 1px #fff;
    top: 175px; }
  .bc-timeline__item {
    position: relative;
    height: 350px;
    width: 150px;
    float: left;
    margin-left: 60px; }
    .bc-timeline__item:nth-child(even) .bc-timeline__item-data {
      top: auto;
      bottom: 0; }
      .bc-timeline__item:nth-child(even) .bc-timeline__item-data:before {
        top: -36px; }
      .bc-timeline__item:nth-child(even) .bc-timeline__item-data:after {
        top: -16px; }
      .bc-timeline__item:nth-child(even) .bc-timeline__item-data > span {
        top: -68px; }
    .bc-timeline__item-data {
      position: absolute;
      height: 150px;
      min-width: 100;
      top: 0;
      box-shadow: 1px 2px 3px #409991;
      transition: all 0.5s;
      border: solid 1px #fff;
      padding: 15px;
      cursor: pointer;
      background: #fff; }
      .bc-timeline__item-data:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border: solid 4px #fff;
        top: 165px;
        border-radius: 20px;
        left: 62px;
        box-shadow: 1px 2px 4px #409991;
        background: #409991; }
      .bc-timeline__item-data:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 16px;
        border-left: solid 2px #fff;
        top: 150px;
        left: 71px; }
      .bc-timeline__item-data:hover {
        background: #fff; }
      .bc-timeline__item-data > span {
        position: absolute;
        top: 185px;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 100;
        left: 50px;
        color: #fff; }
    .bc-timeline__item-img {
      height: 50px; }

.bc-contact {
  position: absolute;
  padding: 30px;
  height: 420px;
  top: 50px;
  left: -100px;
  right: 0;
  background: #303336; }
  .bc-contact__header {
    color: #fce7aa;
    font-weight: 100; }
  .bc-contact__info {
    margin-bottom: 30px; }
    .bc-contact__info li {
      position: relative;
      color: #ccc;
      padding-left: 10px; }

.bc-feedback {
  position: relative;
  height: 500px;
  padding: 50px 30px;
  background: #fce7aa; }
  .bc-feedback__title {
    margin: 0;
    font-size: 40px;
    font-weight: 100;
    color: #8e6b05;
    line-height: 1;
    margin-bottom: 20px; }

.bc-copyright {
  display: block;
  padding: 30px 0 0 0;
  color: #fff;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 2px; }
  .bc-copyright__credit {
    display: block;
    padding-top: 8px;
    text-transform: uppercase; }
  .bc-copyright__text {
    display: inline-block; }
