
.#{$bc}-feedback{   
    position: relative; 
   //border: solid 1px #f1f1f1;
    height: 500px;
    padding: 50px 30px;
    background: #fce7aa;

    &__title{
        margin: 0;
        font-size: 35px;
        font-weight: 100;
        color: #8e6b05;
        line-height: 1.2;
        margin-bottom: 20px;
    }
}